/* General styling for the section */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

    /* estilos somente para teste local*/
    height: 100vh;
}

/* estilos somente para teste local*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

/* estilos somente para teste local*/

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 1.75rem;

    /* estilos somente para teste local*/
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

/* Container for the icons and labels */
.icons-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    /* Space between icons */
}

/* Styling for each individual icon item */
.icon-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #a6a6a6;
}

.icon-item.active {
    background-color: #023A5C;
}

.icon-item img {
    width: 25px;
    height: 25px;
}

/* Styling for the labels below the icons */
.icon-item span {
    font-size: 11px;
    /* Adjust font size as needed */
    color: #a6a6a6;
    font-weight: 600;
    /* Dark grey color for text */
}

/* Styling for the button */
.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 240px;
    min-width: 220px;
    background-color: #023A5C;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity 0.2s ease-in-out;
}

.contact-button:hover {
    opacity: 0.6;
    /* Slightly darker blue on hover */
}