@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.carousel-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-out;
  cursor: grab;
  gap: 40px;
  padding-right: 0;
}

.carousel:active {
  cursor: grabbing;
}

.carousel-item {
  min-width: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  user-select: none;
}

.carousel-item:last-child {
  margin-right: 0;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border: none;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control:hover {
  background-color: rgba(255, 255, 255, 1);
}

.card {
  width: 100%;
  max-width: 375px;
  background-color: #3687c3;
  border-radius: 20px;
  overflow: hidden;
  color: white;
}

.card-header {
  background-color: white;
  color: #0078c8;
  padding: 15px 30px;
}

.card-header h2 {
  font-size: 20px;
  font-weight: 600;
  width: 130px;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-description {
  font-size: 16px;
  line-height: 1.5;
}

.card-button {
  display: inline-block;
  background-color: white;
  color: #0078c8;
  padding: 10px 25px;
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 12px;
  font-style: normal;
  margin: 15px 0 20px auto;
  float: right;
  cursor: pointer;
  transition: all 0.2s ease, visibility 0s;
  border-radius: 100px;
}

.card-button:hover {
  background: rgba(255, 255, 255, 0.39);
  border: 2px solid #ffffff;
}

.card-footer {
  padding: 0 30px 10px;
  overflow: hidden;
}
