@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.carousel-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;

  // estado inicial da animacao
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.carousel-container.showCarousel {
  opacity: 1;
  transform: translateY(0);
}

.carousel {
  display: flex;
  align-items: flex-start;
  transition: transform 0.3s ease-out;
  cursor: grab;
  gap: 20px;
  padding-right: 0;
  overflow-x: visible;
}

.carousel:active {
  cursor: grabbing;
}

.carousel-item {
  min-width: 300px;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  user-select: none;

  // estado inicial da animacao
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.carousel-item.showItem {
  opacity: 1;
  transform: translateY(0);
}

.carousel-item:last-child {
  margin-right: 0;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #0078d7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 30px 0;
}

.card-image-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  height: 260px;
}

.card-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.card-content {
  padding: 0 25px;
  text-align: left;
}

.card-title {
  color: #0078d7;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-subtitle {
  color: #0078d7;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-description {
  color: #0078d7;
  font-size: 17px;
  line-height: 1.1;
  margin-bottom: 40px;
}

.card-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.category {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #0078d7;
  font-size: 12px;
  cursor: pointer;
}

.category-icon {
  max-width: 65px;
  max-height: 45px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-icon-img {
  width: 100%;
  object-fit: cover;
}

.mais-icon {
  font-size: 30px;
  font-weight: bold;
  color: #0078d7;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #0078d780;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border: none;
  color: #0078d7;
}

.carousel-control svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.carousel-control-prev {
  left: 10px;
  transform: rotate(180deg);
}

.carousel-control-next {
  right: 10px;
}

.carousel-control:hover {
  background-color: #0078d7;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .carousel-container {
    padding: 0 15px;
    overflow: visible;
  }

  .carousel {
    gap: 0px;
  }

  .carousel-item {
    margin-right: 15px;
    font-size: 18px;
    min-width: calc(95% - 15px);
  }

  .carousel-control {
    display: none; /* Hide controls on mobile */
  }
}